@import 'http://cdn.repository.webfont.com/webfonts/nomal/115540/45904/5e4f95daf629d8031c4c0d5f.css';
html::-webkit-scrollbar {
    display: none;
}

[v-cloak] {
    display: none;
}

.articles pre code::-webkit-scrollbar,
.giveMes .content .allEmoji::-webkit-scrollbar,
.replyBorder .replyCon .allEmoji::-webkit-scrollbar {
    display: none
}

.card {
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    color: #fff;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

.articles>.article>.content>ul {
    list-style: circle;
}

.articles>.article>.content>ul,
.articles>.article>.content>ol {
    margin-left: 20px;
}

.cardCommon {
    padding: 10px 20px;
    box-sizing: border-box;
}

.cardTitle {
    font-size: 18px;
    color: #ace;
}

.cardHr {
    margin: 10px 0;
}

.height10 {
    width: 100%;
    height: 10%;
}

.height60,
.height80 {
    width: 100%;
    height: 5%;
}

.height100 {
    width: 100%;
    height: 100px;
}

.article pre code {
    display: block;
    background-color: #272822;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 0px #272822;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'sans-serif';
    overflow: scroll;
    line-height: 30px;
}

.article>.content {
    word-break: break-all;
}

@media screen and (max-width:1024px) {
    .article>.content img {
        width: 100% !important;
    }
}